<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.VideoPlaybackActivity"
            android:exported="false"
            android:label="@string/title_activity_video_playback"
            android:theme="@style/Theme.MyApplication" />
        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- AudioPlayerActivity -->
        <activity
            android:name=".ui.AudioPlayerActivity"
            android:exported="true"
            android:label="@string/title_audio_player"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ui.AudioRecorderActivity"
            android:exported="true"
            android:label="@string/title_activity_audio_recoder"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ui.TextToSpeechActivity"
            android:exported="true"
            android:label="@string/title_activity_text_to_speech"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ui.MovieActivity"
            android:exported="true"
            android:label="@string/title_activity_text_to_speech"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ui.MotionActivity"
            android:exported="true"
            android:label="@string/title_activity_text_to_speech"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ui.VideoRecorderActivity"
            android:exported="true"
            android:label="@string/title_activity_text_to_speech"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>